body {
    background-color: #fff;
}

div.container {
    margin-top: 50px;
    background-color: #ffffff;
}

.card {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 120%;
    border-width: 3px;
    margin-right: 3px;
}

div.card-water {
  background-color: #4682B4;
  color: #fff;
}
div.card-air {
  background-color: #04B4AE;
  color: #fff;
}
div.card-earth {
  background-color: #32CD32;
  color: #fff;
}
div.card-fire {
  background-color: #FF6347;
  color: #fff;
}

div.card-upgrade {
  background-color: #AEB404;
  color: #fff;

}

div.card-dominated {
  opacity: 0.3;
}

div.card-selected {
  border-color: red;
}

.logline {
  margin-bottom: 0px;
}