<html>
<head>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/angular.1.2.26.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="js/ng-lodash.min.js"></script>

<script src="js/element.js"></script>
<script src="js/card.js"></script>
<script src="js/deck.js"></script>
<script src="js/collection.js"></script>
<script src="js/idleccg.js"></script>
<link rel="stylesheet" href="css/idleccg.css">

</head>
<body ng-app="cardGameApp" ng-controller="gameCtrl" ng-keydown="keyPressed($event)">

<div class="container" >

    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Overview
                </div>
                <div class="panel-body">
                    <p>time since start: {{ gameData.timeSinceStart }}</p>
                    <p>Gold: {{ gold }}</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Shop
                </div>
                <div class="panel-body">
                    {{ boosterPrices[1] }}: Booster 1 
                    <button ng-click="buyBooster(1)" ng-show="gold >= boosterPrices[1]">buy</button><br>
                    {{ boosterPrices[2] }}: Booster 2 
                    <button ng-click="buyBooster(2)" ng-show="gold >= boosterPrices[2]">buy</button><br>
                    {{ boosterPrices[3] }}: Booster 3 
                    <button ng-click="buyBooster(3)" ng-show="gold >= boosterPrices[3]">buy</button><br>
                    {{ boosterPrices[4] }}: Booster 4 
                    <button ng-click="buyBooster(4)" ng-show="gold >= boosterPrices[4]">buy</button><br>
                    {{ boosterPrices[5] }}: Booster 5 
                    <button ng-click="buyBooster(5)" ng-show="gold >= boosterPrices[5]">buy</button><br>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Log
                </div>
                <div class="panel-body">
                    <p class="logline" ng-repeat="l in log track by $index">{{ l.time }} <em>{{ l.text }}</em></p>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Level {{ currentLocation.level }} - 
                    <button ng-click="previousOpponent()" class="change-opponent">Previous</button>
                    Opponent {{ opponent.number }}
                    <button ng-click="nextOpponent()" class="change-opponent">Next</button>
                </div>
                <div class="panel-body">

                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                HP: {{ opponent.health.current }} / {{ opponent.health.max }}
                            </div>
                            <div class="col-sm-8">
                                <!-- <progressbar max="opponent.health.max" value="opponent.health.current">
                                </progressbar> -->
                                    Power: ({{ opponent.deck.totalPower }} -> {{ opponent.deck.adjustedPower }})
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <span ng-if="opponent.deck.primaryElement.name !== 'None'">
                                Their {{ opponent.deck.primaryElement.name }} dominates our {{ opponent.deck.primaryElement.dominatedElement.name }}
                            </span>
                            <span ng-if="opponent.deck.primaryElement.name === 'None'">
                                Their deck has no primary element.
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12"><br>
                    </div>
                    <div class="col-sm-12">
                        <div ng-repeat="card in opponent.deck.cards" 
                             ng-class="'col-sm-1 panel panel-primary card ' + card.element.cssClass + ' ' + card.dominatedClass">
                            {{ card.text }}<br>{{card.damage}}
                        </div>
                    </div>
                    <div class="col-sm-12"><br>
                    </div>
                    <div class="col-sm-12">
                        <div ng-repeat="card in player.deck.cards" 
                             ng-class="'col-sm-1 panel panel-primary card ' + card.cssClass + ' ' + card.dominatedClass + ' ' + card.selectedClass"
                             ng-click="cardClicked(PAGE_SECTION_PLAYER_DECK, card)">
                            {{ card.text }}<br>{{card.damage}}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                HP: {{ player.health.current }} / {{ player.health.max }}
                            </div>
                            <div class="col-sm-8">
                                <!-- <progressbar max="player.health.max" value="player.health.current">
                                </progressbar> -->
                                Power ({{ player.deck.totalPower }} -> {{ player.deck.adjustedPower }})
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <span ng-if="player.deck.primaryElement.name != 'None'">
                                Our {{ player.deck.primaryElement.name }} dominates their {{ player.deck.primaryElement.dominatedElement.name }}
                            </span>
                            <span ng-if="player.deck.primaryElement.name === 'None'">
                                Our deck has no primary element.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Collection
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div ng-repeat="card in player.collection.cards" 
                             ng-class="'col-sm-1 panel panel-primary card ' + card.cssClass + ' ' + card.selectedClass + ' ' + card.dominatedClass"
                             ng-click="cardClicked(PAGE_SECTION_PLAYER_COLLECTION, card)">
                            <span ng-show="card.type == 'card'">{{ card.text }}<br>{{card.damage}}</span>
                            <span ng-show="card.type != 'card'">{{ card.text }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

</body>
</html>
