<html>
<head>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/angular.1.2.26.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="js/ng-lodash.min.js"></script>

<script src="js/base/constants.js"></script>

<script src="js/base/formula.js"></script>
<script src="js/base/loot-tables.js"></script>
<script src="js/base/element.js"></script>
<script src="js/base/card.js"></script>

<script src="js/base/card-upgrade.js"></script>
<script src="js/base/player-upgrade.js"></script>

<script src="js/base/booster.js"></script>

<script src="js/base/item.js"></script>

<script src="js/base/deck.js"></script>
<script src="js/base/collection.js"></script>
<script src="js/idleccg.js"></script>
<link rel="stylesheet" href="css/idleccg.css">

</head>
<body ng-app="cardGameApp" ng-controller="gameCtrl" ng-keydown="keyPressed($event)">

<div class="container" >

    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Overview
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-7">Time since start</div>
                        <div class="col-sm-5">{{ gameData.timeSinceStart }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">Turns</div>
                        <div class="col-sm-5">{{ gameData.totalTurns }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">Games (wins)</div>
                        <div class="col-sm-5">{{ gameData.totalGames }} ({{ gameData.totalWins }})</div>
                    </div>
                    <br>
                    <p>Gold: {{ gold }}</p>

                    <p>Opponent collection: <span ng-repeat="card in opponent.collection.cards">{{ card.element.name }}, </span></p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Shop
                </div>
                <div class="panel-body">
                    <button ng-click="sellSelectedCard()" ng-show="cardSelectedInCollection && cardSelectedInCollection.type == 'card'">Sell selected card</button>

                    <span ng-repeat="index in boosterIndexes">
                        <button ng-show="gold >= boosterPrices[index]" 
                            ng-click="buyBooster(index)">Booster {{ index }} ({{ boosterPrices[index] }} gold)</button>
                    </span>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Log
                </div>
                <div class="panel-body">
                    <p class="logline" ng-repeat="l in log track by $index">{{ l.time }} <em>{{ l.text }}</em></p>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Level {{ currentLocation.level }} - 
                    <button ng-click="previousOpponent()" class="change-opponent">Previous</button>
                    Opponent {{ opponent.number }}
                    <button ng-click="nextOpponent()" class="change-opponent">Next</button>
                    Gold per win: {{ opponent.goldGainedWhenPlayerWins }}
                    <span style="float: right;">
                        <a ng-click="runTimeStepManual()" class="btn btn-warning" ng-if="!timeRunning"><i class="glyphicon glyphicon-step-forward"></i> </a>
                        <a ng-click="toggleTimeRunning()" class="btn btn-warning" ng-if="timeRunning"><i class="glyphicon glyphicon-pause"></i> </a>
                        <a ng-click="toggleTimeRunning()" class="btn btn-warning" ng-if="!timeRunning"><i class="glyphicon glyphicon-play"></i> </a>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="col-sm-10">
                        <div class="col-sm-12">
                            <div ng-repeat="card in opponent.deck.cards"
                                 ng-class="'col-sm-1 panel panel-primary opponent-card-panel card ' + card.element.cssClass + ' ' + card.dominatedClass + ((opponent.health.current <= 0) ? ' dies':'') ">
                                <div class="card-top">
                                    <img class="card-element" ng-if="card.element.name === 'Water'" src="img/rounded-glossy-black/icon_131.png" width="16" height="16">
                                    <img class="card-element" ng-if="card.element.name === 'Air'" src="img/rounded-glossy-black/lightning2-sc48.png" width="16" height="16">
                                    <img class="card-element" ng-if="card.element.name === 'Earth'" src="img/rounded-glossy-black/leaf7-sc44.png" width="16" height="16">
                                    <img class="card-element" ng-if="card.element.name === 'Fire'" src="img/rounded-glossy-black/fire1.png" width="16" height="16">
                                    <span class="card-name">{{ card.name }}</span>
                                </div>
                                <div class="card-image">
                                    <img ng-src="img/card/{{card.imageFile}}" height="78" width="108">
                                </div>
                                <div class="card-bottom">
                                    <div class="card-power">
                                        <img src="img/icon-fist-2.png" height="16" width="16" /> {{ card.power }}
                                    </div>
                                    <div class="card-damage">
                                        <img src="img/icon-sword.png" height="16" width="16" /> {{ card.damage }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div>Opponent
                            <br>
                            <img src="img/icon-fist-2.png" height="16" width="16" /> {{ opponent.deck.adjustedPower }}
                            <br>
                            <img src="img/icon-sword.png" height="16" width="16" />  {{ opponent.deck.totalDamage }}
                            <br>
                            <img src="img/icon-heart.png" height="16" width="16" /> {{ opponent.health.current }} / {{ opponent.health.max }}
                            <br>
                            {{ opponentMessage }}
                        </div>
                    </div>
                    <div class="col-sm-12"><br></div>
                    <div class="col-sm-10">
                        <div class="col-sm-12">
                            <div ng-repeat="card in player.deck.cards"
                                 ng-class="'col-sm-1 panel panel-primary card ' + card.cssClass + ' ' + card.dominatedClass + ' ' + card.selectedClass + ((player.health.current <= 0) ? ' dies':'')"
                                 ng-click="cardClicked(PAGE_SECTION_PLAYER_DECK, card)">

                                <div class="card-top">
                                    <img class="card-element" ng-if="card.element.name === 'Water'" src="img/rounded-glossy-black/icon_131.png" width="16" height="16">
                                    <img class="card-element" ng-if="card.element.name === 'Air'" src="img/rounded-glossy-black/lightning2-sc48.png" width="16" height="16">
                                    <img class="card-element" ng-if="card.element.name === 'Earth'" src="img/rounded-glossy-black/leaf7-sc44.png" width="16" height="16">
                                    <img class="card-element" ng-if="card.element.name === 'Fire'" src="img/rounded-glossy-black/fire1.png" width="16" height="16">
                                    <span class="card-name">{{ card.name }}</span>
                                </div>
                                <div class="card-image">
                                    <img ng-src="img/card/{{card.imageFile}}" height="78" width="108">
                                </div>
                                <div class="card-bottom">
                                    <div class="card-power">
                                        <img src="img/icon-fist-2.png" height="16" width="16" /> {{ card.power }}
                                    </div>
                                    <div class="card-damage">
                                        <img src="img/icon-sword.png" height="16" width="16" /> {{ card.damage }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div>Player
                            <br>
                            <img src="img/icon-fist-2.png" height="16" width="16" /> {{ player.deck.adjustedPower }}
                            <br>
                            <img src="img/icon-sword.png" height="16" width="16" />  {{ player.deck.totalDamage }}
                            <br>
                            <img src="img/icon-heart.png" height="16" width="16" /> {{ player.health.current }} / {{ player.health.max }}
                            <br>
                            {{ playerMessage }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Collection
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div ng-repeat="card in player.collection.cards" 
                             ng-class="'col-sm-1 panel panel-primary card ' + card.cssClass + ' ' + card.selectedClass + ' ' + card.dominatedClass"
                             ng-click="cardClicked(PAGE_SECTION_PLAYER_COLLECTION, card)">

                            <div ng-if="card.type === ITEM_CARD">
                                <div class="card-top">
                                    <img class="card-element" ng-if="card.element.name === 'Water'" src="img/rounded-glossy-black/icon_131.png" width="16" height="16">
                                    <img class="card-element" ng-if="card.element.name === 'Air'" src="img/rounded-glossy-black/lightning2-sc48.png" width="16" height="16">
                                    <img class="card-element" ng-if="card.element.name === 'Earth'" src="img/rounded-glossy-black/leaf7-sc44.png" width="16" height="16">
                                    <img class="card-element" ng-if="card.element.name === 'Fire'" src="img/rounded-glossy-black/fire1.png" width="16" height="16">
                                    <span class="card-name">{{ card.name }}</span>
                                </div>
                                <div class="card-image">
                                    <img ng-src="img/card/{{card.imageFile}}" height="78" width="108">
                                </div>
                                <div class="card-bottom">
                                    <div class="card-power">
                                        <img src="img/icon-fist-2.png" height="16" width="16" /> {{ card.power }}
                                    </div>
                                    <div class="card-damage">
                                        <img src="img/icon-sword.png" height="16" width="16" /> {{ card.damage }}
                                    </div>
                                </div>
                            </div>

                            <div ng-if="card.type === ITEM_CARD_UPGRADE">
                                <div class="upgrade-power" ng-if="card.power > 0">
                                    <img src="img/icon-fist-2.png" height="32" width="32" />
                                    <br>+ {{ card.power }}
                                </div>
                                <div class="upgrade-damage" ng-if="card.damage > 0">
                                    <img src="img/icon-sword.png" height="32" width="32" />
                                    <br>+ {{ card.damage }}
                                </div>
                            </div>
                            <div ng-if="card.type === ITEM_PLAYER_UPGRADE">
                                <div class="player-upgrade-health" ng-if="card.health > 0">
                                    <img src="img/icon-heart.png" height="32" width="32" />
                                    <br>+ {{ card.health }}
                                </div>
                            </div>
                            <div ng-if="card.type === ITEM_BOOSTER">
                                <div class="booster" ng-if="card.level > 0">
                                    <img src="img/icon-chest.png" height="32" width="32" />
                                    <br>{{ card.level }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

</body>
</html>
